 <!-- newletter-area-end -->
<footer>
    <!-- footer-top-area -->
    <div class="footer-top-area border-1 ptb-30 bg-color-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-title">
                        <h4>Store Information</h4>
                    </div>
                    <div class="footer-widget">
                        <div class="contact-info">
                            <ul>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                    <div class="contact-text">
                                        <span>PO Box 16122 Collins Street West Victoria 8007 Australia</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div class="contact-text">
                                        <a href="#"><span>demo@towerthemes.com</span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="contact-text">
                                        <span>(+1)866-550-3669</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-title">
                        <h4>Information</h4>
                    </div>
                    <div class="footer-widget">
                        <div class="list-unstyled">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-title">
                        <h4>My Account</h4>
                    </div>
                    <div class="footer-widget">
                        <div class="list-unstyled">
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Wish List</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Brands</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-title">
                        <h4>Instagram</h4>
                    </div>
                    <div class="footer-widget">
                        <div class="footer-widget-img">
                            <div class="single-img">
                                <a href="#"><img src="img/footer/1.jpg" alt="" /></a>
                            </div>
                            <div class="single-img">
                                <a href="#"><img src="img/footer/2.jpg" alt="" /></a>
                            </div>
                            <div class="single-img">
                                <a href="#"><img src="img/footer/3.jpg" alt="" /></a>
                            </div>
                            <div class="single-img">
                                <a href="#"><img src="img/footer/4.jpg" alt="" /></a>
                            </div>
                            <div class="single-img">
                                <a href="#"><img src="img/footer/5.jpg" alt="" /></a>
                            </div>
                            <div class="single-img">
                                <a href="#"><img src="img/footer/6.jpg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- copyright-area-start -->
<div class="copyright-area text-center bg-color-3">
    <div class="container">
        <div class="copyright-border ptb-30">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright text-left">
                        <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="#">汽车平台网</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="payment text-right">
                        <a href="#"><img src="img/payment.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright-area-end -->
<!-- social_block-start -->
<div id="social_block">
    <ul>
        <li class="facebook"><a href="#">Facebook</a></li>
        <li class="twitter"><a href="#">twitter</a></li>
        <li class="rss"><a href="#">rss</a></li>
        <li class="youtube"><a href="#">youtube</a></li>
        <li class="google-plus"><a href="#">google plus</a></li>
        <li class="pinterest"><a href="#">pinterest</a></li>
    </ul>
</div>
<!-- social_block-end -->