<header>
    <!-- header-top-area-start -->
    <div class="header-top-area black-bg ptb-7 hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="header-top-left">
                        <span><a href="#">致电我们:</a>(+86)153-130-888-70</span>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="header-top-right">
                        <ul>
                            <li class="slide-toggle">
                                <a href="#"><i class="fa fa-user"></i>注册</a>
                            </li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-check"></i>登录</a></li>
                        </ul>
                        <ul>
                            <li class="slide-toggle-3 text-uppercase">
                                <a href="#">语言设置</a>
                                <ul class="show-toggle-3">
                                    <li><a href="#">中文（简体）</a></li>
                                    <li><a href="#">英文</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-top-area-end -->
    <!-- header-bottom-area-start -->
    <div class="header-bottom-area bg-color-1 ptb-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="logo">
                        <h1><a href="#">CarBrandSite</a></h1>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="header-bottom-middle">
                        <div class="top-search">
                            <span class="tex_top_email"><i class="fa fa-envelope"></i>Email: <span class="">carbrand@126.com</span></span>
                        </div>
                        <div class="search-box">
                            <form action="#">
                                <select name="#" id="select">
                                    <option value="">All categories</option>
                                    <option value="40">Accessories</option>
                                    <option value="41">Clothing</option>
                                    <option value="42">-Hoodies</option>
                                    <option value="47">-T-shirts</option>
                                    <option value="43">Men's</option>
                                    <option value="50"> -Hats</option>
                                    <option value="44">Music</option>
                                    <option value="46">-Singles</option>
                                    <option value="49">-Albums</option>
                                    <option value="45">Posters</option>
                                    <option value="48">Women's</option>
                                    <option value="51">-Hats</option>
                                    <option value="52">----Shoes</option>
                                    <option value="53">----Scarves</option>
                                    <option value="54">Jewellery</option>
                                    <option value="55">---Rings</option>
                                    <option value="56">----Gold Ring</option>
                                    <option value="57">----platinum ring</option>
                                    <option value="58">----Silver Ring</option>
                                    <option value="59">----Diamond rings</option>
                                    <option value="60">---Necklaces</option>
                                    <option value="61">----Diamond necklaces</option>
                                    <option value="62">----Pearl necklaces</option>
                                    <option value="63">----Silver necklaces</option>
                                    <option value="64">----Statement necklaces</option>
                                    <option value="65">Equipments</option>
                                    <option value="73">---Accessories</option>
                                    <option value="78">----headphone</option>
                                    <option value="79">----health</option>
                                    <option value="80">----camera</option>
                                    <option value="74">---beauty</option>
                                    <option value="75">----run</option>
                                    <option value="76">----evening</option>
                                    <option value="77">----coats</option>
                                    <option value="66">Watches</option>
                                    <option value="67">Books</option>
                                    <option value="68">Sports</option>
                                    <option value="69">Gifts</option>
                                </select>
                                <input type="text" placeholder="Search...">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="header-bottom-right">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-bottom-area-end -->
</header>