<!-- mainmenu-area-start -->
<div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="mainmenu-left visible-lg  visible-md">
                    <div class="product-menu-title">
                        <h2>所有品牌分类 <i class="fa fa-arrow-circle-down"></i></h2>
                    </div>
                    <div class="product_vmegamenu">
                        <ul>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/0.jpg"  alt="" />中国</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/14.jpg"  alt="" />美国</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/124.jpg"  alt="" />日本</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/145.jpg"  alt="" />德国</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/41.jpg"  alt="" />韩国</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/149.jpg"  alt="" />法国</a>
                                <div class="vmegamenu">
                                    <span>
                                        <a href="#" class="vgema-title">Linux</a>
                                        <a href="#">Edubuntu</a>
                                        <a href="#">Kubuntu</a>
                                        <a href="#">Lubuntu</a>
                                    </span>
                                    <span>
                                        <a href="#" class="vgema-title">Mac </a>
                                        <a href="#">Mac OS X 10.0</a>
                                        <a href="#">Mac OS X 10.7</a>
                                        <a href="#">OS X 10.11</a>
                                    </span>
                                    <span>
                                        <a href="#" class="vgema-title">Ubuntu</a>
                                        <a href="#">Ubuntu Server</a>
                                        <a href="#">Ubuntu Studio</a>
                                        <a href="#">Ubuntu TV</a>
                                    </span>
                                    <span>
                                        <a href="#" class="vgema-title">Windows</a>
                                        <a href="#">Windows 10</a>
                                        <a href="#">Windows 7</a>
                                        <a href="#">Windows 8.1</a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/126.jpg"  alt="" />意大利</a>
                                <div class="vmegamenu">
                                    <span>
                                        <a href="#" class="vgema-title">Electronic</a>
                                        <a href="#">Bedroom</a>
                                        <a href="#">Kitchen</a>
                                        <a href="#">Living room</a>
                                        <a href="#">Out door</a>
                                    </span>
                                    <span>
                                        <a href="#" class="vgema-title">Lights</a>
                                        <a href="#">All lights</a>
                                        <a href="#">Bed room</a>
                                        <a href="#">Living room</a>
                                        <a href="#">Out door</a>
                                    </span>
                                    <span>
                                        <a href="#" class="vgema-title">Television</a>
                                        <a href="#">Samsung</a>
                                        <a href="#">Samsung Oled</a>
                                        <a href="#">Sony</a>
                                        <a href="#">Sony Bravia</a>
                                    </span>
                                    <span>
                                        <a href="#" class="vgema-title">Washing</a>
                                        <a href="#">Commercial</a>
                                        <a href="#">Front-Load </a>
                                        <a href="#">Pedestal </a>
                                        <a href="#">Top-Load </a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/33.jpg"  alt="" />瑞典</a>
                                <div class="vmegamenu vmegamenu2">
                                    <span>
                                        <a href="#" class="vgema-title">HandBags</a>
                                        <a href="#">Kids</a>
                                        <a href="#">Mens</a>
                                        <a href="#">Student</a>
                                        <a href="#">Women</a>
                                    </span>
                                    <span>
                                        <a href="#" class="vgema-title">Clothing</a>
                                        <a href="#">Children</a>
                                        <a href="#">Kids</a>
                                        <a href="#">Mens</a>
                                        <a href="#">Womens</a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/16.jpg"  alt="" />英国</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/60.jpg"  alt="" />俄罗斯</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/166.jpg"  alt="" />丹麦</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/11.jpg"  alt="" />捷克</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/5.jpg"  alt="" />马来西亚</a>
                            </li>
                            <li>
                                <a href="#" class="hover-icon"><img src="~/Content/img/nationlogo/4.jpg"  alt="" />其它</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="mainmenu">
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- mainmenu-area-end -->